langchain
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-openai
langchain-text-splitters
langdetect
langgraph
langsmith
langchain-together

streamlit
openai
unstructured
pypdf

jupyter_client
jupyter_core
jupyterlab_widgets
